<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <% if (messages) { %>
      <p>
        <%= messages %>
      </p>
      <% } %>

  <form action="" method="post">
    <input type="text" name="title" value = "<%=doc.title%>"><br><br>
    <textarea rows="8" cols="80" name= "text"><%=doc.text%></textarea><br><br>
    <input type="submit">
  </form>
</body>
</html>
