<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>

<div class="container full">


  <div class="row logo">
    <div class="col-md-4 offset-md-5">
      <h3>Register</h3>
    </div>
  </div>

  <% if (messages) { %>
    <div class="row justify-content-center">
       <div class="col-md-4 mes">
    <p>
      <%= messages %>
    </p>
  </div>
</div>
    <% } %>

      <div class="row justify-content-center">
        <div class="col-md-4 align-self-center">
      <form action="" method="POST">
        <div class="form-group">
          <label for="username" id="username">Username</label>
        <input class="form-control" type="text" name="username" placeholder="username">
      </div>
      <div class="form-group">
        <label for="email" id="email">Email</label>
        <input class="form-control" type="email" name="email" placeholder="email">
        </div>
          <div class="form-group">
        <label for="password" id="password">Password</label>
        <input class="form-control" type="password" name="password" placeholder="password">
          </div>
          <div class="form-group">
              <label for="isPassword" id="password">Confirm password</label>
        <input class="form-control" type="password" name='isPassword' placeholder="повторите пароль">
            </div>
        <button class="btn btn-primary type="submit">Регистрация</button>
      </form>
    </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
