<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <% if (messages) { %>
    <p>
      <%= messages %>
    </p>
    <% } %>
      <form action="" method="POST">
        <input type="text" name="username" placeholder="username"><br><br>
        <input type="email" name="email" placeholder="email"><br><br>
        <input type="password" name="password" placeholder="password"> <br><br>
        <input type="password" name='isPassword' placeholder="повторите пароль"><br><br>
        <input type="submit">
      </form>
</body>

</html>
