
.bg-primary .container .ml-auto .nav-item a{
  color: white;
}

.bg-primary .navbar-brand{
  color: white;
}

.container .artic .ret{
  white-space: normal;
  overflow-x: hidden;
}

input{
  background: none;
  border: none ;
  color:white;
}

a{
  text-decoration: none;
  color:white;
  padding-left: 5px;
}

.row .artic{
  margin-top: 10px;
  width: 100%;
  border: 1px solid silver;
}

.row .artic a{
  text-decoration: none;
  color: rgba(40, 42, 25, 0.85);
}

.row .artic a:hover{
  text-decoration: none;
  color: rgb(18, 19, 9);
}
