.container .form-group textarea{
  resize: none;
}

.bg-primary .container .ml-auto .nav-item a{
  color: white;
}

.bg-primary .navbar-brand{
  color: white;
}

.container .home{
  text-decoration: none;
  color:rgb(57, 51, 43);
}

form {
    margin-bottom: 0em !important;
}

input{
  background: none;
  border: none ;
  color:white;
}
